@model List<Backend3.Models.ShortEventViewModel>
@using Backend3.Storage
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager;

@section Styles {
<link rel="stylesheet" href="~/css/EventIndex.css" asp-append-version="true" />
}


@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center mt-4">

    <div id="carouselExampleIndicators" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner rounded w-75" style="height: 25rem;">
            <div class="carousel-item active h-100">
                <img src="./img/add3.jpg" class="d-block w-100 h-100" alt="...">
            </div>
            <div class="carousel-item h-100">
                <img src="./img/add2.jpg" class="d-block w-100 h-100" alt="...">
            </div>
            <div class="carousel-item h-100">
                <img src="./img/ad1.png" class="d-block w-100 h-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="d-flex justify-content-between w-100">
        <h3 class="float-start mt-4 mb-3"> Главные события недели</h3>

        @if(User.IsInRole(ApplicationRoleNames.Organizer))
        {
            <a asp-action="Create" id="btn-create-event" type="button" class="btn btn-primary d-flex align-self-center mt-3 me-4">Создать мероприятие</a>
        }
         <form asp-action="Index"  enctype="multipart/form-data">
            <div class="form-group">
                <label name="date" class="control-label">Дата мероприятия</label>
                <input name="date"  type="date" class="form-control" />
            </div>
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-outline-primary  mt-3">Найти</button>
            </div>
        </form>
    </div>
    

    <table class="w-100 h-100">
        <tbody class="w-100">
            @{
                for (int i = 0; i < Model.Count; i += 3)
                {
                    <tr class="row w-100 d-flex-column justify-content-between">
                        @for (int j = i; j < Math.Min(i + 3, Model.Count); j++)
                        {
                            <td class="col-4 cardsFeed p-3">
                                <a asp-action="Details" asp-route-id="@Model[j].Id" class="scale card w-100">
                                    @if (String.IsNullOrEmpty(Model[j].Poster))
                                    {
                                        <img id="event-@Model[j].Id" class="card-img-top h-100" src="/files/imgplaceholder.png">
                                    }
                                    else
                                    {
                                        <img id="event-@Model[j].Id" class="card-img-top h-100" src="@Model[j].Poster">
                                    }
                                    <div class="card-img-overlay h-100 ">
                                        <h4 class="event-title card-title text-light rounded-pill p-2">@Model[j].Title</h4>
                                    </div>
                                </a>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
