@*@using FilmsCatalog.Models.ViewModels
@model MoviesPageViewModel*@
@*
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css" />
<h1>Профиль</h1>

<p>
    <a asp-action="Create">Добавить новый фильм</a>
</p>
<table class="table w-100">

</table>*@
