@model Backend3.Models.RegisterViewModel

<form asp-action="Register" asp-controller="Account" method="Post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" class="form-control" asp-for="Email">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Password"></label>
        <input type="password" class="form-control" asp-for="Password">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PasswordConfirm"></label>
        <input type="password" class="form-control" asp-for="PasswordConfirm">
        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="BirthDate"></label>
        <input type="date" class="form-control" asp-for="BirthDate">
        <span class="text-danger" asp-validation-for="BirthDate"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="IsOrganizer"></label>
        <input type="checkbox"  asp-for="IsOrganizer">
        <span class="text-danger" asp-validation-for="IsOrganizer"></span>
  </div>
 <div class="form-group custom-file">
                <label asp-for="Avatar" class="custom-file-label control-label" for="customFile">Аватар</label>
                <div class="col-md-10">
                    <input type="file" asp-for="Avatar" class="custom-file-input form-control" id="customFile" />
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>
            </div>
    <div class="text-danger" asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
